<div class="card ">
  <img class="card-img-top" [src]="'/Content/Images/Products/' + product.Id + '/Main/' + product.Image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><a routerLink="/product/{{product.Slug}}">{{product.Name}}</a></h5>
    <p class="card-text">{{product.Price | currency: 'USD':'symbol'}}</p>
  </div>
  <div class="card-footer">
    <a *ngIf="getQuantity() === 0; else updateQte" (click)="addToCart(product)" class="btn btn-secondary btn-block">
      Add To Cart</a>
    <ng-template #updateQte>
      <product-quantity [product]="product"></product-quantity>
    </ng-template>
  </div>
</div>