/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
    font-family: OpenSans;
    src: url(~/Content/agency_fb.ttf);
}

body {
    font-family: "OpenSans", sans-serif;
    user-select: none;
    overflow-y: scroll;
    font-size: 24px;
}

.alert{
    font-size: 18px !important;
    text-align: center;
   
}

#toast-container .toast {
    padding: 5px 5px 5px 50px !important;
    width: 250px !important;
    font-size: 16px !important;
    letter-spacing: 1.5px;
}