<nav>
  <a routerLink="/"><span>You-Better</span></a>
  <ul>
    <li>
      <a routerLink="add-product">Product</a>
    </li>
    <li>
      <a routerLink="cart">Cart ({{getCartCount()}})
      </a>
    </li>
    <li>
      <a routerLink="sign-in">login
      </a>
    </li>
    <li ngbDropdown class="nav-item dropdown">
      <a ngbDropdownToggle class="dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">EL-Ouardy</a>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" routerLink="/dashboard">My Profile</a>
        <a class="dropdown-item" routerLink="/">My Orders</a>
        <a class="dropdown-item" routerLink="add-product">Manage Orders</a>
        <a class="dropdown-item" (click)="Logout()">Log Out</a>
      </div>
    </li>
    <!-- *ngIf="auth.user$ | async as user ; else anonumousUser"-->
    <!-- <ng-template #anonumousUser>
      <li>
        <a routerLink="sign-in">Login</a>
      </li>
    </ng-template> -->
  </ul>
</nav>