<div class="divprofileset">
  <div class="divphoto">
    <div class="photoprof">
      <label class="changepho">Change Your Photo</label>
      <div class="commentrev">
        <div class="avatarrev">
          <svg class="svgsig223" version="1.1" x="0px" y="0px" viewBox="0 0 258.75 258.75"
            style="enable-background:new 0 0 258.75 258.75;" xml:space="preserve">
            <circle cx="129.375" cy="60" r="60"></circle>
            <path d="M129.375,150c-60.061,0-108.75,48.689-108.75,108.75h217.5C238.125,198.689,189.436,150,129.375,150z">
            </path>
          </svg>
          <svg class="iconplusaddav" aria-hidden="true" data-prefix="fal" data-icon="plus" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path fill="currentColor"
              d="M376 232H216V72c0-4.42-3.58-8-8-8h-32c-4.42 0-8 3.58-8 8v160H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h160v160c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V280h160c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z"
              class=""></path>
          </svg>
        </div> <span class="nameavatar">Mohamed Zouine</span>
      </div>
      <div class="fdgbxyrte">
        <label class="dsfvcx">Theme :</label>
        <div class="fhgnbbvn">
          <label for="radgear" class="labtypeshipb"></label>
          <input id="radgear" type="radio" name="shipping" value="Gearbest">
          <label for="radgear" class="labtypeshipbb"></label>
          <label for="radgear" class="labtypeship">1</label>
        </div>
        <div class="fhgnbbvn">
          <label for="radgear2" class="labtypeshipb"></label>
          <input id="radgear2" type="radio" name="shipping" value="Gearbest">
          <label for="radgear2" class="labtypeshipbb"></label>
          <label for="radgear2" class="labtypeship">2</label>
        </div>
      </div>
    </div>
    <form class="allinformation allinformationp1">
      <div class="divforminfo">
        <div class="divstate">
          <label class="labstate">First Name</label>
          <input id="inputstate" placeholder="Your First Name" type="text" name="" value="" maxlength="60" required="">
        </div>
        <div class="divmobile">
          <label class="labmobile">Last Name</label>
          <input id="inputmobile" placeholder="Your Last Name" type="text" name="" value="" maxlength="20" required="">
        </div>
        <div class="divemail">
          <label class="labemail">Email</label>
          <input class="inputemail" placeholder="Email Contact" type="email" name="" value="" maxlength="100" required="">
        </div> <span class="labchangepass">Change Password ?</span>
        <div class="divpassword">
          <label class="labemail">Write Password Now</label>
          <input placeholder="Password Now" type="password" name="" value="" maxlength="100" required="">
          <label class="labemail">New Password</label>
          <input placeholder="Write New Password" type="password" name="" value="" maxlength="100" required="">
          <label class="labemail">Confirmed New Password</label>
          <input placeholder="Confirmed New Password" type="password" name="" value="" maxlength="100" required="">
        </div>
      </div>
      <button id="contbottom" type="button" name="button">SAVE</button>
    </form>
  </div>
</div>