h4 {
    text-align: center;
    text-decoration: underline;
    margin: 15px 0;
}
.table-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

tr td:first-of-type{
    padding: 5px;
    width: 52px;
}

tr {
    text-align: left;
    margin: 5px 0 10px 0;
}
a {
    color: black;
    font-weight: bold;
    text-decoration: underline
}

td.col-4 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.alert.alert-info {
    position: sticky;
    top: 100px;
    padding: 5px 2px !important;
}