<h3 mat-dialog-title>Advanced Search :</h3>
<p mat-dialog-content>
  Search normaly uses product's name, you could also type an expression in the search box that can extand searching
  to other properties like price, quantity, ..
  to acheive this all you have to do is prefixing your searching query with "$" or "#" signs and follow it with
  your expression <br>
  An expression could be like what you see in the exemples below.
</p>
<table>
  <tr *ngFor="let el of array">
    <td>{{el.name}}</td>
    <td>{{el.meaning}}</td>
  </tr>
</table>

<p mat-dialog-content>
  NB: be aware that areas with characters value not numbers (such as: Name, Color, ..) must be delimited by single quotation marks 'string' otherwise just
  pass the value directly  {{availablePages}}<br>
</p>
<div mat-dialog-actions>
  <button mat-button (click)="prev()">Prev</button>
  <button mat-button (click)="next()">Next</button>
</div>