<header>
  <nav>
    <a routerLink="/"><span>You-Better</span></a>
    <ul>
      <li>
        <a href="admin">GoAdmin</a>
      </li>
      <li>
        <a routerLink="/cart">Cart ({{cartCount}})
        </a>
      </li>
      <li *ngIf=" user ; else anonymousUser" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{ user.FullName }}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/dashboard">My Profile</a>
          <a class="dropdown-item" routerLink="/">My Orders</a>
          <a class="dropdown-item" (click)="Logout()">Log Out</a>
        </div>
      </li>
      <ng-template #anonymousUser>
        <li>
          <a routerLink="/sign-in">Login</a>
        </li>
      </ng-template>
    </ul>
  </nav>
</header>