<div class="container-fluid">
  <div class="row">
    <div class="col-1 no-gutters">
      <div class="sidenav col-1 text-center">
        <a routerLink="/admin"><i class="fa fa-dashboard"></i>Dashboard</a>
        <a routerLink="/admin"><i class="fa fa-gears"></i>Products</a>
        <a routerLink="/admin"><i class="fa fa-flag"></i>Orders</a>
        <a routerLink="/admin"><i class="fa fa-users"></i>Users</a>
        <a routerLink="/admin"><i class="fa fa-support"></i>Support</a>
        <a routerLink="/admin"><i class="fa fa-pie-chart"></i>Analytics</a>
        <a routerLink="/admin"><i class="fa fa-files-o"></i>CMS</a>
      </div>
    </div>
    <div class="col-11 holder">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
