a {
  color: #eee !important
}

a:hover {
  text-decoration: none
}

.holder {
  padding: 20px 10px 0px 30px
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6c757d;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #6c757d;
}

.icon-bar {
  background-color: #6c757d;
}

.sidenav a {
  text-align: center !important;
  transition: all 0.3s ease;
  display: block;
  font-size: 20px !important;
  margin-top: 30px;
  padding: 4px
}

.fa {
  display: block !important;
  font-size: 30px;
}

.sidenav a:hover {
  background-color: #98a7b3;
}

.active {
  background-color: rgb(56, 172, 160);
}
