<div class="divsettingsnot">
  <div class="ytruyissu">
    <label class="redgdfs">Settings Notification :</label>
    <div class="tuyiyyoiuo">
      <label class="regdsgf">New User registered</label>
      <div class="switch1">
        <input id="checkanimat1" type="checkbox" name="" value="">
        <div class="switch2"></div>
      </div>
    </div>
    <div class="tuyiyyoiuo">
      <label class="regdsgf">New Custmer Review</label>
      <div class="switch1">
        <input id="checkanimat1" type="checkbox" name="" value="">
        <div class="switch2"></div>
      </div>
    </div>
    <div class="tuyiyyoiuo">
      <label class="regdsgf">Messages</label>
      <div class="switch1">
        <input id="checkanimat1" type="checkbox" name="" value="">
        <div class="switch2"></div>
      </div>
    </div>
    <div class="tuyiyyoiuo">
      <label class="regdsgf">Ticket</label>
      <div class="switch1">
        <input id="checkanimat1" type="checkbox" name="" value="">
        <div class="switch2"></div>
      </div>
    </div>
    <div class="tuyiyyoiuo">
      <label class="regdsgf">Orders</label>
      <div class="switch1">
        <input id="checkanimat1" type="checkbox" name="" value="">
        <div class="switch2"></div>
      </div>
    </div>
    <div class="tuyiyyoiuo">
      <label class="regdsgf">Offline</label>
      <div class="switch1">
        <input id="checkanimat1" type="checkbox" name="" value="">
        <div class="switch2"></div>
      </div>
    </div>
  </div>
</div>